<div class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="/tteokbokki/home">
                    <i class="fas fa-home"></i>
                    HOME
                </a>
            </li>
        </ul>
    </div>
</div>